9 СЕМИНАР

In [1]:
l1 = ['1', '123', '123', '12', '1', '123']
l2 = [2, 4, -2, -3, 0 , 11 , 3, -1]

d4 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
d5 = {'a': 3, 'b': 4, 'c': 5, 'd': 6, 'e': 7, 'f': 8, 'g': 9}
d6 = {'e': 20, 'f': 21, 'g': 22, 'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}

4.13) Используюя список l1 создать список, в котором каждый элемент списка l1 будет заменен значением длинны строки соответствующего элемента в списке l1. Использовать генераторы, решить задачу в одну строку.

In [2]:
result = [len(item) for item in l1]
result

[1, 3, 3, 2, 1, 3]

4.14) Подсчитать количество строк в списке l1, длина которых больше 2х. Использовать генераторы, решить задачу в одну строку.

In [3]:
res = sum(1 for item in l1 if len(item) > 2)
res

3

4.15) Просуммировать произведение ключей на значения словаря d4.

In [4]:
result = sum(key * value for key, value in d4.items())
result

910

4.16) На базе словаря d6 составить словарь d7 в котором нет пар ключ-значение с ключами, встречающимися в словаре d5. Использовать генераторы, решить задачу в одну строку.

In [5]:
d7 = {k: v for k, v in d6.items() if k not in d5}
d7

{'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}

4.17) Создать список, в котором все числа списка l2 умножены на их номер в списке, остальные элементы сохранены на своих местах. Использовать генераторы, решить задачу в одну строку.

In [6]:
# isinstance сравнивает значение с заданным типом, enumerate - добавляет счетчик к каждому элементу интегрируемого объекта и возвращает перечисляемый объект. 
result = [x*i if isinstance(x, int) else x for i, x in enumerate(l2)] 
result

[0, 4, -4, -9, 0, 55, 18, -7]

4.18) Создать список, в котором все отрицательные числа списка l2 исключены, остальные элементы сохранены на своих местах. Использовать генераторы, решить задачу в одну строку.

In [7]:
[i for i in l2 if i >= 0]

[2, 4, 0, 11, 3]

4.19) Создать список, в котором все отрицательные числа списка l2 заменены на их номер в списке, остальные элементы сохранены на своих местах. Использовать генераторы и тернарный оператор, решить задачу в одну строку.

In [8]:
[i if v < 0 else v for i, v in enumerate(l2)]

[2, 4, 2, 3, 0, 11, 3, 7]

5.1) Написать задокументированную функцию умножения двух чисел. Для каких типов данная функция будет возвращать практически ценный результат? Написать примеры использования этой функции.

In [9]:
def multiply(x, y):
    return x * y

result1 = multiply(5, 3) # результат: 15
result1

15

5.2) Написать функцию умножения принимающую от одного до трех параметров. Написать примеры использования этой функции с разным количеством параметров.

In [10]:
def multiplication(a, b=1, c=1):
    return a * b * c

# Примеры использования функции с одним, двумя и тремя параметрами
print(multiplication(2)) 
print(multiplication(3, 4)) 
print(multiplication(2, 3, 4))

2
12
24

5.3) Функцию из задания 2 вызвать с приведенными ниже аргументами. Для случая a4 выбрать 3 первых и 3 последних значения.

In [11]:
a1 = (15, 10 ,5)
a2 = (3, 1)
a3 = [2, 35, 55]
a4 = (5, 10 ,15, 20)
print(multiplication(a1[0], a1[1], a1[2]))
print(multiplication(a2[0], a2[1]))
print(multiplication(a3[0], a3[1], a3[2]))
print(multiplication(a4[0], a4[1], a4[2]))
print(multiplication(a4[1], a4[2], a4[3]))

750
3
3850
750
3000

5.4) Реализовать функцию умножения, принимающую неограниченное количество значений. Написать примеры использования этой функции, в том числе с аргументами из задания 3.

In [12]:
def multiply(*args):
    result = 1
    for num in args:
        result *= num
    return result

result1 = multiply(*a1)
print(result1)  # Вывод результата для a1

result2 = multiply(*a2)
print(result2)  # Вывод результата для a2

result3 = multiply(*a3)
print(result3)  # Вывод результата для a3

result4 = multiply(*a4)
print(result4)  # Вывод результата для a4

750
3
3850
15000

5.5) Реализовать функции для выполнения четырех арифмитических операций преобразующих целые числа в целое число. Для двух заранее заданных целых чисел выполнить выбранную пользователем арифметическую операцию.

In [ ]:
def addition(a, b):
    return a + b

def subtraction(a, b):
    return a - b

def multiplication(a, b):
    return a * b

def division(a, b):
    if b != 0:
        return a / b
    else:
        return "Ошибка: деление на ноль"

# Выбор пользователем операции
operation = input("Выберите операцию (+, -, *, /): ")

# Ввод двух чисел
num1 = int(input("Введите первое целое число: "))
num2 = int(input("Введите второе целое число: "))

# Выполнение выбранной операции
if operation == '+':
    result = addition(num1, num2)
elif operation == '-':
    result = subtraction(num1, num2)
elif operation == '*':
    result = multiplication(num1, num2)
elif operation == '/':
    result = division(num1, num2)
else:
    result = "Неправильный ввод операции"

print("Результат:", result)

5.6) Написать калькулятор для строковых выражений вида '<число> <операция> <число>', где <число> - целое число, например 113, <арифмитическая операция> - одна из операций +,-,*,/(деление нацело),%(остаток от деления),^(возведение в степень). Пример calc('13 - 5') -> 8

In [6]:
def calc(s):
    s1 = s.split()
    if s1[1] == '/':
        return float(s1[0]) // float(s1[2])
    elif s1 == '^':
        return float(s1[0]) ** float(s1[2])
    else:
        return eval(s)

calc('45 + 10')

55

5.7) Реализовать функцию которая выводит на экран сообщение вида:
'Автомобиль марки: BMW, модели: X5, цвета: белый, 2006 года выпуска, с пробегом: 215 000 км, c номерным знаком: X012АМ77, цена: 1 115 000 руб.'
В функцию передаются именованные параметры изменяемой части сообщения, лубой из параметров может быть не задан пользователем функции и автоматически заменен на разумное сообщение в соответствующей части строки. Получить вывод текстового сообщения для словарей c1, c2.

In [7]:
def print_car_info(brand='Audi', model='A4', color='серый', year=2010, mileage=150000, license_plate='А123ВХ77', price=950000):
    message = f"Автомобиль марки: {brand}, модели: {model}, цвета: {color}, {year} года выпуска, с пробегом: {mileage} км, c номерным знаком: {license_plate}, цена: {price:,} руб."
    print(message)

c1 = {'brand': 'BMW', 'model': 'X5', 'color': 'белый', 'year': 2006, 'mileage': 215000, 'license_plate': 'X012АМ77', 'price': 1115000}
c2 = {'brand': 'Mercedes', 'model': 'E-Class', 'year': 2015, 'mileage': 80000, 'price': 1800000}

print_car_info(**c1)
print_car_info(**c2)

Автомобиль марки: BMW, модели: X5, цвета: белый, 2006 года выпуска, с пробегом: 215000 км, c номерным знаком: X012АМ77, цена: 1,115,000 руб.
Автомобиль марки: Mercedes, модели: E-Class, цвета: серый, 2015 года выпуска, с пробегом: 80000 км, c номерным знаком: А123ВХ77, цена: 1,800,000 руб.

5.8) Написать функцию, которая преобразует целое число (от 0 до 99) в текстовое написание числа на русском языке. Пример: to_text(15) -> 'Пятнадцать'

In [1]:
def to_text(num):
    units = ('', 'один', 'два', 'три', 'четыре', 'пять', 'шесть', 'семь', 'восемь', 'девять')
    teens = ('', 'одиннадцать', 'двенадцать', 'тринадцать', 'четырнадцать', 'пятнадцать', 'шестнадцать', 'семнадцать', 'восемнадцать', 'девятнадцать')
    tens = ('', '', 'двадцать', 'тридцать', 'сорок', 'пятьдесят', 'шестьдесят', 'семьдесят', 'восемьдесят', 'девяносто')

    if num == 0:
        return 'Ноль'
    elif num < 10:
        return units[num]
    elif num < 20:
        return teens[num - 10]
    else:
        return tens[num // 10] + ('' if num % 10 == 0 else ' ') + units[num % 10]


print(to_text(15))

пятнадцать

5.9) Написать функцию, которая преобразует целое число (от 0 до 999) из текстового представления на руссокм языке в число типа int. Пример: to_int('тридцать три') -> 33

In [2]:
def to_int(text):
    numbers_dict = {
        'ноль': 0, 'один': 1, 'два': 2, 'три': 3, 'четыре': 4, 'пять': 5,
        'шесть': 6, 'семь': 7, 'восемь': 8, 'девять': 9, 'десять': 10,
        'одиннадцать': 11, 'двенадцать': 12, 'тринадцать': 13, 'четырнадцать': 14,
        'пятнадцать': 15, 'шестнадцать': 16, 'семнадцать': 17, 'восемнадцать': 18,
        'девятнадцать': 19, 'двадцать': 20, 'тридцать': 30, 'сорок': 40,
        'пятьдесят': 50, 'шестьдесят': 60, 'семьдесят': 70, 'восемьдесят': 80,
        'девяносто': 90
    }

    words = text.split()
    result = 0
    for i in range(0, len(words), 2):
        if i+1 < len(words):
            result += numbers_dict[words[i]] + numbers_dict[words[i+1]]
        else:
            result += numbers_dict[words[i]]
    
    return result


number_text = 'тридцать три'
result = to_int(number_text)
print(result)

33

6.1) Написать калькулятор для строковых выражений вида '<число> <операция> <число>', где <число> - не отрицательное целое число меньшее 100, записанное словами, например "тридцать четыре", <арифмитическая операция> - одна из операций "плюс","минус","умножить". Результат выполнения операции вернуть в виде текстового представления числа. Пример calc('двадцать пять плюс тринадцать') -> "тридцать восемь"

In [ ]:
def to_int(text):
    numbers_dict = {
        'ноль': 0, 'один': 1, 'два': 2, 'три': 3, 'четыре': 4, 'пять': 5,
        'шесть': 6, 'семь': 7, 'восемь': 8, 'девять': 9, 'десять': 10,
        'одиннадцать': 11, 'двенадцать': 12, 'тринадцать': 13, 'четырнадцать': 14,
        'пятнадцать': 15, 'шестнадцать': 16, 'семнадцать': 17, 'восемнадцать': 18,
        'девятнадцать': 19, 'двадцать': 20, 'тридцать': 30, 'сорок': 40,
        'пятьдесят': 50, 'шестьдесят': 60, 'семьдесят': 70, 'восемьдесят': 80,
        'девяносто': 90
    }

    words = text.split()
    result = 0
    for i in range(0, len(words), 2):
        if i+1 < len(words):
            result += numbers_dict[words[i]] + numbers_dict[words[i+1]]
        else:
            result += numbers_dict[words[i]]
    
    return result

def calc(expression):
    operations = {
        'плюс': lambda x, y: x + y,
        'минус': lambda x, y: x - y,
        'умножить': lambda x, y: x * y
    }

    parts = expression.split()
    num1 = to_int(parts[0])
    num2 = to_int(parts[2])
    operator = parts[1]

    result = operations[operator](num1, num2)

    return str(result)


expression = "двадцать пять плюс тридцать"
result = calc(expression)
print(result)