9 СЕМИНАР

In [2]:
l1 = ['1', '123', '123', '12', '1', '123']
l2 = [2, 4, -2, -3, 0 , 11 , 3, -1]

d4 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
d5 = {'a': 3, 'b': 4, 'c': 5, 'd': 6, 'e': 7, 'f': 8, 'g': 9}
d6 = {'e': 20, 'f': 21, 'g': 22, 'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}

4.13) Используюя список l1 создать список, в котором каждый элемент списка l1 будет заменен значением длинны строки соответствующего элемента в списке l1. Использовать генераторы, решить задачу в одну строку.

In [3]:
result = [len(item) for item in l1]
result

[1, 3, 3, 2, 1, 3]

4.14) Подсчитать количество строк в списке l1, длина которых больше 2х. Использовать генераторы, решить задачу в одну строку.

In [4]:
res = sum(1 for item in l1 if len(item) > 2)
res

3

4.15) Просуммировать произведение ключей на значения словаря d4.

In [5]:
result = sum(key * value for key, value in d4.items())
result

910

4.16) На базе словаря d6 составить словарь d7 в котором нет пар ключ-значение с ключами, встречающимися в словаре d5. Использовать генераторы, решить задачу в одну строку.

In [6]:
d7 = {k: v for k, v in d6.items() if k not in d5}
d7

{'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}

4.17) Создать список, в котором все числа списка l2 умножены на их номер в списке, остальные элементы сохранены на своих местах. Использовать генераторы, решить задачу в одну строку.

In [7]:
# isinstance сравнивает значение с заданным типом, enumerate - добавляет счетчик к каждому элементу интегрируемого объекта и возвращает перечисляемый объект. 
result = [x*i if isinstance(x, int) else x for i, x in enumerate(l2)] 
result

[0, 4, -4, -9, 0, 55, 18, -7]

4.18) Создать список, в котором все отрицательные числа списка l2 исключены, остальные элементы сохранены на своих местах. Использовать генераторы, решить задачу в одну строку.

In [8]:
[i for i in l2 if i >= 0]

[2, 4, 0, 11, 3]

4.19) Создать список, в котором все отрицательные числа списка l2 заменены на их номер в списке, остальные элементы сохранены на своих местах. Использовать генераторы и тернарный оператор, решить задачу в одну строку.

In [9]:
[i if v < 0 else v for i, v in enumerate(l2)]

[2, 4, 2, 3, 0, 11, 3, 7]

5.1) Написать задокументированную функцию умножения двух чисел. Для каких типов данная функция будет возвращать практически ценный результат? Написать примеры использования этой функции.

In [10]:
def multiply(x, y):
    return x * y

result1 = multiply(5, 3) # результат: 15
result1

15

5.2) Написать функцию умножения принимающую от одного до трех параметров. Написать примеры использования этой функции с разным количеством параметров.

In [11]:
def multiplication(a, b=1, c=1):
    return a * b * c

# Примеры использования функции с одним, двумя и тремя параметрами
print(multiplication(2)) 
print(multiplication(3, 4)) 
print(multiplication(2, 3, 4))

2
12
24

5.3) Функцию из задания 2 вызвать с приведенными ниже аргументами. Для случая a4 выбрать 3 первых и 3 последних значения.

In [13]:
a1 = (15, 10 ,5)
a2 = (3, 1)
a3 = [2, 35, 55]
a4 = (5, 10 ,15, 20)
print(multiplication(a1[0], a1[1], a1[2]))
print(multiplication(a2[0], a2[1]))
print(multiplication(a3[0], a3[1], a3[2]))
print(multiplication(a4[0], a4[1], a4[2]))
print(multiplication(a4[1], a4[2], a4[3]))

750
3
3850
750
3000

5.4) Реализовать функцию умножения, принимающую неограниченное количество значений. Написать примеры использования этой функции, в том числе с аргументами из задания 3.

In [14]:
def multiply(*args):
    result = 1
    for num in args:
        result *= num
    return result

result1 = multiply(*a1)
print(result1)  # Вывод результата для a1

result2 = multiply(*a2)
print(result2)  # Вывод результата для a2

result3 = multiply(*a3)
print(result3)  # Вывод результата для a3

result4 = multiply(*a4)
print(result4)  # Вывод результата для a4

750
3
3850
15000

5.5) Реализовать функции для выполнения четырех арифмитических операций преобразующих целые числа в целое число. Для двух заранее заданных целых чисел выполнить выбранную пользователем арифметическую операцию.

In [15]:
def addition(a, b):
    return a + b

def subtraction(a, b):
    return a - b

def multiplication(a, b):
    return a * b

def division(a, b):
    if b != 0:
        return a / b
    else:
        return "Ошибка: деление на ноль"

# Выбор пользователем операции
operation = input("Выберите операцию (+, -, *, /): ")

# Ввод двух чисел
num1 = int(input("Введите первое целое число: "))
num2 = int(input("Введите второе целое число: "))

# Выполнение выбранной операции
if operation == '+':
    result = addition(num1, num2)
elif operation == '-':
    result = subtraction(num1, num2)
elif operation == '*':
    result = multiplication(num1, num2)
elif operation == '/':
    result = division(num1, num2)
else:
    result = "Неправильный ввод операции"

print("Результат:", result)

Выберите операцию (+, -, *, /): +
Введите первое целое число: 1
Введите второе целое число: 3
Результат: 4